{% extends "header.html" %}

{% block body %}

    {% if (error != None):%}
        <div class="alert alert-danger" role="alert"> {{error}} </div>
    {% endif %}

    <div class="panel panel-default" style="max-width: 90%; margin: auto;">
        <div class="panel-heading">Employees </div>

        <table class="table">
            <thead>
                <th> # </th>
                <th> Full name </th>
                <th> Position </th>
                <th> Wage rate </th>
            </thead>
            <tbody>
                {% for item in EMPLOYEES_DATA:%}
                <tr>
                    <td> {{item["id"]}} </td>
                    <td> {{item["name"]}} </td>
                    <td> {{item["post"]}} </td>
                    <td> {{item["rate"]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form method="POST" action="/employees-handler/">

        <div class="alert alert-info" role="alert" style="margin:100px 50px 20px 50px; width: 800px;">
            Your action will be related with id! (except for adding)
        </div>

        <div class="input-group" style="margin: 20px 50px; width: 1000px;">
            <span class="input-group-addon" id="basic-addon1"> Choose action: </span>
            <select type="text" class="form-control"
                    aria-describedby="basic-addon1" name="action" value="{{request.form.action}}">
                <option value="add"> Add </option>
                <option value="edit"> Edit </option>
                <option value="remove"> Remove </option>
            </select>
        </div>

        <div class="input-group" style="margin: 20px 50px; width: 1000px;">
            <span class="input-group-addon" id="basic-addon1"> id </span>
            <select type="text" class="form-control"
                    aria-describedby="basic-addon1" name="id" value="{{request.form.id}}">
                {% for employee in EMPLOYEES_DATA%}
                <option value="{{employee['id']}}">{{employee["id"]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group" style="margin: 20px 50px; width: 1000px;">
            <span class="input-group-addon" id="basic-addon1"> Full name </span>
            <input type="text" class="form-control"
                    aria-describedby="basic-addon1" name="name" value="{{request.form.name}}">
        </div>


        <div class="input-group" style="margin: 20px 50px; width: 1000px;">
            <span class="input-group-addon" id="basic-addon1"> Position </span>
            <select type="text" class="form-control"
                    aria-describedby="basic-addon1" name="post" value="{{request.form.post}}">
                <option value=""></option>
                {% for post in POSTS_DATA%}
                <option value='{{post["name"]}}'>{{post["name"]}}</option>
                {% endfor%}
            </select>
        </div>

        <div class="input-group" style="margin: 20px 50px; width: 1000px;">
            <span class="input-group-addon" id="basic-addon1"> Ставка </span>
            <input type="text" class="form-control"
                    aria-describedby="basic-addon1" name="rate" value="{{request.form.rate}}">
        </div>

        <button type="submit" class="btn btn-default" style="margin-left: 915px;"> Підтвердити ввід </button>
    </form>

{% endblock%}