{% extends "header.html" %}

{% block body %}

    {% if (error != None):%}
        <div class="alert alert-danger" role="alert"> {{error}} </div>
    {% endif %}

    <div class="panel panel-default" style="max-width: 90%; margin: auto;">
    <!-- Default panel contents -->
        <div class="panel-heading">Працівники </div>

    <!-- Table -->
        <table class="table">
            <thead>
                <th> # </th>
                <th> ПІБ </th>
                <th> Посада </th>
                <th> Ставка </th>
            </thead>
            <tbody>
                {% for item in EMPLOYEES_DATA:%}
                <tr>
                    <td> {{item["id"]}} </td>
                    <td> {{item["name"]}} </td>
                    <td> {{item["post"]}} </td>
                    <td> {{item["rate"]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock%}