<!DOCTYPE html>

<!--
    В даному проекті ми скористалися бібліотекою Bootsrap та jQuery для створення вмісту сайту.
    Тому, для адекватної роботи необхідно інтернет з'єднання, оскільки певні бібліотеки підвантажуються
    саме звідти (як от бібліотека jQuery, що можна побачити трохи нижче

    За допомогою Flask ми можемо підлаштовувати веб-сторінки під відповідні запити. Наприклад, дана сторінка
    не використовується сама по собі, але вбудовується в кожен з існуючих в нашому проекті HTML документів
    (див. main.html)
-->

<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>PySalary</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/img/salary-packaging.png" rel="shortcut icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript"
            src="../static/js/bootstrap.min.js"></script>

</head>
<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="../static/img/salary-packaging.png"
                                         style="height: 30px; margin-top: -7px;"></a>
        </div>

        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/new-table">Fill table </a></li>
                    <li><a href="/salaries">Calculate salary</a></li>
                    <li><a href="/positions">Positions </a></li>
                    <li><a href="/employees">Employees </a></li>
                    <li><a href="/tables">Tables </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>



<body>

    {% block body %}{% endblock %}
</body>
</html>