{% extends "header.html" %}
<!--
    За допомогою ключового слов extends та логічного блоку {% %}, що підтримується Flask, ми вбудували
    сторінку header.html всередину даної, і всередину усіх ішних сторінок, щоб однакова розмітка не
    повторювалася багато разів
-->

{% block body %}

    {% if (error != None):%}
        <div class="alert alert-danger" role="alert"> {{error}} </div>
    {% endif %}

    <div class="jumbotron" style="padding: 55px; margin-top: 100px;">
        <h1>Система розрахунку зарплати</h1>
    </div>

{% endblock%}