<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>PySalary</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/img/salary-packaging.png" rel="shortcut icon">

</head>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Заповнити табель </a></li>
                    <li><a href="#">Розрахувати зарплату</a></li>
                    <li><a href="#">Посади </a></li>
                    <li><a href="#">Робітники </a></li>
                    <li><a href="#">Табелі </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<body>
    <script type="text/javascript"
            src="../static/js/bootstrap.min.js"></script>
    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
</body>
</html>