{% extends "header.html" %}

{% block body %}

    {% if (error != None):%}
        <div class="alert alert-danger" role="alert"> {{error}} </div>
    {% endif %}

    <div class="panel panel-default" style="max-width: 90%; margin: auto;">
    <!-- Default panel contents -->
        <div class="panel-heading">Перелік посад</div>

    <!-- Table -->
        <table class="table">
            <thead>
                <th> # </th>
                <th> ПІБ </th>
                <th> Зарплата в USD/годину </th>
            </thead>
            <tbody>
                {% for item in TABLES_DATA:%}
                <tr>
                    <td> {{item["id"]}} </td>
                    <td> {{item["name"]}} </td>
                    <td> {{item["salaryPerHour"]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock%}